<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 rs">
              <a [routerLink]="['/index']"><img src="./assets/LogoBlanco-cineapp.png" width="160px" alt=""></a> <br>
              <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>
          <hr>
          <div class="col-12">
            <p class="copyright">PRUEBA FINAL, MODULO IV, DESARROLLO WEB. <br> CINEAPP+ TODOS LOS DERECHOS RESERVADOS&copy;</p>
          </div>
        </div>
      </div>
</footer>